<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sRegistrationChecker</servlet-name>
        <servlet-class>controller.sRegistrationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFaculty</servlet-name>
        <servlet-class>controller.addFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveStudent</servlet-name>
        <servlet-class>controller.RemoveStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFaculty</servlet-name>
        <servlet-class>controller.RemoveFaculty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sRegistrationChecker</servlet-name>
        <url-pattern>/sRegistrationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFaculty</servlet-name>
        <url-pattern>/addFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveStudent</servlet-name>
        <url-pattern>/RemoveStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFaculty</servlet-name>
        <url-pattern>/RemoveFaculty</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
